:root {
  --selection-color: white;
  --selection-bg: skyblue;
}
h3 {
  font-size: 120%;
  text-decoration: underline;
}
ul.justify-content-center {
  padding-top: 0.5rem;
}
label.btn {
  padding: 0.15rem 1rem;
}
::-moz-selection { /* Code for Firefox */
  color: var(--selection-color);
  background: var(--selection-bg);
}

::selection {
  color: var(--selection-color);
  background: var(--selection-bg);
}

div.col-md-4, div.col-lg {
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
}